<div class="container">
  <div class="row">
    <div class="col">
      <img
      class="img-responsive image"
      src="assets/media/plates-header1.jpg"
      
      height=100%
      width=100%
    />

    <div class="header--title">
    <h4>PLATES</h4>
    
    </div>
    <hr>
  </div>
  </div>  
  <div class="row text-center mt-2">
    <div
      class="col-sm-4"
      *ngFor="let product of products | async; index as productId"
    >
      <figure>
        <div class="fig1" id="spanhovering">
          <img
            class="img-responsive image"
            src="assets/media/{{ product.image }}"
            width="250px"
            height="200px"
          />

          <div class="overlay overlay1"></div>

          <div class="button1"><a href="#" [routerLink]="['/products', productId]" [queryParams]="{ product: product | json }"> VIEW DETAILS </a></div>
          <div class="button2"><a href="#" (click)="addToCart(product)"> ADD TO CART </a></div>
        </div>
        <figcaption>
          <h3>
            <a
              [title]="product.title + ' details'"
              [routerLink]="['/products', productId]"
              [queryParams]="{ product: product | json }"
            >
              {{ product.brand }}
            </a>
            <p>{{ product.title }}</p>
            <p>{{ product.price | currency }}</p>
          </h3>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
